## simple add

In [1]:
a=4
b=5
c=a+b
print(c)

9

In [4]:
x="Mudabbir"
y="Ali"
t=" "
z=x+t+y
print(z)

Mudabbir Ali

## taking input

In [6]:
aa=input()

4

In [7]:
bb=2
cc=aa*bb
print(cc)

44

## if else statements

In [2]:
if a<b:
    print("Number",b,"is greater than number",a)
else:
    print("Number",a,"is greater than number",b)

Number 5 is greater than number 4

### nested ifelse

In [21]:
limit=50

In [22]:
amount=input()

44

In [23]:
age=input()

33

In [24]:
if int(amount) < limit and int(age) < 30:
    print("Your net income is",amount*3)
elif int(amount) > limit and int(age) > 30:
    print("Sorry you are overage")

# lists

In [57]:
a=[1,2,3,4,5,6,7,8,9,44,23]

In [58]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 44, 23]

In [59]:
city0="Lahore"
city1="Islamabad"
city2="Karachi"

In [60]:
print("Welcome to ",city1)

Welcome to  Islamabad

In [61]:
cities=["Lhore","Karachi","Islamabd"]

In [62]:
print("Welcome to ",cities[1])

Welcome to  Karachi

### Properties

#### Append

##### Method 1

In [33]:
cities.append("Quetta")

In [34]:
print(cities)

['Lhore', 'Karachi', 'Islamabd', 'Quetta']

##### Method 2

In [36]:
citiesNew=cities+["Multan","Muzafrgarh"]

In [37]:
citiesNew

['Lhore', 'Karachi', 'Islamabd', 'Quetta', 'Multan', 'Muzafrgarh']

#### Insert

In [38]:
citiesNew.insert(0,"murree")

In [39]:
citiesNew

['murree', 'Lhore', 'Karachi', 'Islamabd', 'Quetta', 'Multan', 'Muzafrgarh']

#### Slice

In [43]:
littelcities=citiesNew[2:5]

In [44]:
littelcities

['Karachi', 'Islamabd', 'Quetta']

In [45]:
citiesNew2=citiesNew[:5]

In [46]:
citiesNew2

['murree', 'Lhore', 'Karachi', 'Islamabd', 'Quetta']

In [47]:
citiesNew3=citiesNew[1:]

In [48]:
citiesNew3

['Lhore', 'Karachi', 'Islamabd', 'Quetta', 'Multan', 'Muzafrgarh']

#### Remove

##### Method 1

In [50]:
del citiesNew[2]

In [51]:
citiesNew

['murree', 'Lhore', 'Islamabd', 'Quetta', 'Multan', 'Muzafrgarh']

##### Method 2

In [52]:
citiesNew.remove('Islamabd')

In [53]:
citiesNew

['murree', 'Lhore', 'Quetta', 'Multan', 'Muzafrgarh']

#### Popping

In [54]:
citiesNew.pop(1)

'Lhore'

In [55]:
citiesNew

['murree', 'Quetta', 'Multan', 'Muzafrgarh']

# Tuples

In [1]:
tuples=("Ali",27)

In [4]:
tuples[1]

27

# For Loops

In [5]:
record=[3,4,"Mudabbir",27,"Ali"]

In [7]:
for items in record:
    print(items)

3
4
Mudabbir
27
Ali

In [8]:
for items in record:
    print(record)

[3, 4, 'Mudabbir', 27, 'Ali']
[3, 4, 'Mudabbir', 27, 'Ali']
[3, 4, 'Mudabbir', 27, 'Ali']
[3, 4, 'Mudabbir', 27, 'Ali']
[3, 4, 'Mudabbir', 27, 'Ali']

In [13]:
counter=0
for i in record:
    counter=counter+1
    print(counter,"=>",i)

1 => 3
2 => 4
3 => Mudabbir
4 => 27
5 => Ali

In [18]:
#writing table
table=3
answer=1
for j in range (1,11):
    answer=table*j
    print(table,"X",j,"=",answer)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

# Changing cases

In [48]:
family=[]

In [49]:
for i in range(5):
    family.append(input())

Papa
Mama
Ali
nino
kaka

In [50]:
family

['Papa', 'Mama', 'Ali', 'nino', 'kaka']

In [42]:
city="Karachi"

In [43]:
city.lower()

'karachi'

In [63]:
name="mudabbir"
name.upper()

'MUDABBIR'

In [64]:
name.title()

'Mudabbir'

# Dictionaries

In [65]:
student111093={"First Name":"Mudabbir","Last Name":"Ali","Age":27}

In [66]:
student111093["Age"]

27

In [67]:
student111093["First Name"]

'Mudabbir'

In [68]:
print(student111093)

{'First Name': 'Mudabbir', 'Last Name': 'Ali', 'Age': 27}

### adding items to dictionaries

In [69]:
student111093["Age"]=28

In [70]:
student111093

{'First Name': 'Mudabbir', 'Last Name': 'Ali', 'Age': 28}

In [71]:
student={}

In [72]:
student["Name"]="Mudabbir Ali"
student["Age"]=25

In [73]:
student

{'Name': 'Mudabbir Ali', 'Age': 25}

### Removing and changing items in Dictionaries

In [74]:
del student111093["Age"]

In [75]:
student111093

{'First Name': 'Mudabbir', 'Last Name': 'Ali'}

### looping in dictionaries

In [77]:
student111093["Age"]=27

In [78]:
student111093

{'First Name': 'Mudabbir', 'Last Name': 'Ali', 'Age': 27}

In [79]:
student111093["Adress"]="Qasim bela"

In [80]:
# Will print just keys
for items in student111093:
    print(items)

First Name
Last Name
Age
Adress

In [82]:
# Will print just values
for items in student111093.values():
    print(items)

Mudabbir
Ali
27
Qasim bela

In [83]:
# Will print just keys
for items in student111093.keys():
    print(items)

First Name
Last Name
Age
Adress

#### Accessing both keys and values

##### Method 1

In [88]:
for i in student111093:
    print (i,"=>",student111093[i])

First Name => Mudabbir
Last Name => Ali
Age => 27
Adress => Qasim bela

##### Method 2

In [90]:
for items in student111093.items():
    print(items)

('First Name', 'Mudabbir')
('Last Name', 'Ali')
('Age', 27)
('Adress', 'Qasim bela')

##### Method 3

In [92]:
for each_key,each_value in student111093.items():# .itmes() is must in this case
    print(each_key,"=>",each_value)

First Name => Mudabbir
Last Name => Ali
Age => 27
Adress => Qasim bela

# Functions

In [1]:
def adding():
    a=10
    b=20
    c=a+b
    return c

In [2]:
adding()

30

In [3]:
def multiply(x,y):
    c=x*y
    return c

In [4]:
multiply(2,4)

8

In [5]:
num1=input()

3

In [6]:
num2=input()

4

In [7]:
number1=int(num1)
number2=int(num2)

In [8]:
multiply(number1,number2)

12

### defalut parameter values

In [9]:
def calcultaeSalary(basic_pay=2000,bonus=10):
    if basic_pay>2000:
        result=basic_pay*bonus
    else:
        result=basic_pay+bonus
    return result

In [14]:
pay=input()

1000

In [18]:
payee=int(pay)
calcultaeSalary(payee)

1010

In [19]:
customer={
    0:{"First Name":"Mudabbir",
      "Last Name":"Ali",
      "Age":27},
    1:{"First Name":"Mufakkir",
      "Last Name":"Hussain",
      "Age":26},
    2:{"First Name":"Blaghet",
      "Last Name":"Hussain",
      "Age":22}    
}

In [29]:
def findSomething(customer_number,target):
    print(customer[customer_number][target])

In [30]:
findSomething(1,"Last Name")

Hussain

#### positional vs keywork arguents

In [31]:
def findLastName(customer_number,last_name="Last Name"):
    print(customer[customer_number][last_name])

In [32]:
findLastName(2)

Hussain

In [33]:
def findLastName(dict,customer_number,last_name="Last Name"):
    print(dict[customer_number][last_name])

In [34]:
findLastName(customer,2)

Hussain

## Dealing with an unknown number of arguments

In [45]:
def showInfo(first_name,last_name,**other_info):# you can put multiple variables of different type values
    print("The information of ", first_name,"",last_name,"is")
    for key,val in other_info.items():
        print(key,val)

In [46]:
showInfo("Mudabbir","Ali")

The information of  Mudabbir  Ali is

In [49]:
showInfo("Mufakkir","Hussain",age=27,address="Pakistan")

The information of  Mufakkir  Hussain is
age 27
address Pakistan

In [52]:
def showSameType(num1,num2,num3,*any_num):# you can put multiple variables of same type values
    print(num1,num2,num3,any_num)

In [53]:
showSameType(1,2,3)

1 2 3 ()

In [54]:
showSameType(1,2,3,4,5,6)

1 2 3 (4, 5, 6)

# While Loops

In [5]:
cities=[]

In [6]:
for i in range(5):
    cities.append(input("Please enter the city name:"))

Please enter the city name:Multan
Please enter the city name:Karachi
Please enter the city name:Islamabad
Please enter the city name:Quetta
Please enter the city name:Lahore

In [3]:
clean=input("Please enter the city you want to see if it is clean ")

Please enter the city you want to see if it is clean Islamabad

In [4]:
for i in cities:
    if(clean=="Islamabad" and clean==i):
        print("the city is clean")
        break

the city is clean

###### Usually FOR loop just breaks the cycle if item is found and will not go for next iteration but what if we want to go through from all items

In [12]:
clean=""

In [13]:
while clean!="q":
    clean=input("Please enter the city you want to see if it is clean or press q to quit: ")
    
    for i in cities:
        if clean=="Islamabad" or clean=="Lahore":
            print("The city is clean")
            break
        elif clean=="q":
            print("Good bye!")
            break
        else:
            print ("City is not clean")
            break

Please enter the city you want to see if it is clean or press q to quitLahore
The city is clean
Please enter the city you want to see if it is clean or press q to quitq
Good bye!

# Classes

In [14]:
class Pateint():
    def __init__(self,last_Name):# self is actually the refernece for all attributes for each intance being created
        self.l_name=last_Name

In [15]:
patinet1=Pateint("Ali")

In [18]:
patinet1.l_name

'Ali'

In [19]:
class Pateint():
    def __init__(self,last_Name,ages):
        self.l_name=last_Name
        self.age=ages
    def is_minor(self):
        if self.age>30:
            print("Patinet is serious")
        else:
            print("Pathient is minor")

In [20]:
patine2=Pateint("PAPA",70)

In [21]:
patine2.is_minor()

Patinet is serious

In [33]:
class Pateint():
    addresses=""
    def __init__(self,last_Name,ages):
        self.l_name=last_Name
        self.age=ages
    def is_minor(self,addresses):
        
        if self.age>30 and addresses=="Islamabad" :
            print("Patinet is serious")
        else:
            print("Pathient is minor")

In [34]:
patine3=Pateint("PAPA",70)

In [35]:
patine3.is_minor("Multan")

Pathient is minor

# Handling Data